*.log
*.pyc
*.orig
.idea
_build
packages
static_old
documentation/letsencrypt
db.sqlite3

# javascript files managed by Bower
validation_service/lib
validation_service/static

# ensure these are not tracked by git
*secrets.yml
dev.sh
