{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Model Validation Service{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{% static 'hbp-collaboratory-theme/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app.css' %}">
  </head>
  <body>

    <div class="app container-fluid">
      <div class="row">
      <main class="page">
      {% block content %}{% endblock %}
      </main>
      </div>
    </div>

  </body>

</html>